body{
    background:#fff;

}
h1{
    color:red;
    font-size:red;
    text-align:center;
    position:relative;
    top:100px;

}

.bg-dark {
    position: relative;
    bottom: 47px;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
}
#penguin-icon{
    color:white;
}
/*main-section*/
.scanner-image{
    /* height: 300px; */
    width: 100%;
    border: 5px black solid;
    position: relative;
    margin: 0 auto;
    top: 250px;
  }

  video{
      width:100%;
  }

  canvas{
      display:none;
  }
  .image-scanner-container{
      position:relative;
      bottom:50%;
  }

  /*search-bar*/
  .search-bar-container {
    position: relative;
    border: 9px solid red;
    border-radius: 5%;
    top: 288px;
    margin: 0 auto;
    background: #fff;
    display: inline-block;
    left: 25%;
}

  .search-bar {
    background-image: url(./icons/iconfinder.png);
    background-repeat: no-repeat;
    background-position: 84%;
    background-size: contain;
    font-size: 1.5rem;
}
  
.camera-btn{
    position:relative;
    width:40%;
    display:inline-block;
    margin: 0 auto;
    left: 25%;
    bottom:200px;

}
