.google-page {
  height: 100%;
}

img.map-Icon{
  width:40%;
}

#map {
  height: 50vh;
  width: 100%;
  margin-top: 50px;
}

#map > div {
  height: 75%;
  border: 2px black solid;
  width: 100%;
}

#map > div > div {
  height: 75%;
  border: 2px black solid;
  width: 100%;
}

.location-error {
  position: fixed;
  top:  60px;
  width: 100vw;
  text-align: center;
  display: none;
}

.location-error > p {
  font-size: 28px;
  margin: 5% 0%;
  color: red;
}

.square {
  height: 100%;
  background-color: blue;
}

/* Optional: Makes the sample page fill the window. */
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  padding: 0px 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

#right-panel h2 {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: unset;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

ul#places {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
}

li {
  background-color: #fcfcfc;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

li:nth-child(even) {
  background-color: #f1f1f1;
}

li:hover{
  background-color: #446c87;
  color: white;
  cursor: pointer;
}

#more {
  font-size: 20px;
  color: white;
  background-color: rgb(193, 73, 78);
  border-radius: 5px;
  border-color: rgb(193, 73, 78);
  box-shadow: 3px 3px 3px black;
  padding: 10px 10px;
  margin: auto;
  display: block;
}

button.no-more {
  opacity: 0.4;
}

#more:hover {
  background-color: rgb(156, 58, 62);
  border-color: rgb(156, 58, 62);
}

#more:active {
  transition: all 0.2s;
  transform: scale(0.9);
}

#google-search {
  background-image: url(./images/search_bar.PNG);
  background-repeat: no-repeat;
  background-position: 101%;
  background-size: contain;
  font-size: 1.5rem;
  position: relative;
  top: 12px;
  width: 61%;
  left: 7%;
}

.search-icon {
  width: 12%;
  margin-top: 12px;
}

@media (min-width: 370px) and (min-height: 730px) {
  #map {
    height: 55vh;
  }

  .location-error > p {
    font-size: 40px;
  }
}

@media (min-width: 760px) and (min-height: 1020px) {
  #map {
    height: 55vh;
    margin-top: 60px;
  }

  .location-error > p {
    font-size: 40px;
  }

  #right-panel {
    margin-bottom: 65px;
  }
}

@media (min-width: 1020px) and (min-height: 760px) {
  #map {
    height: 55vh;
    margin-top: 60px;
  }

  .location-error > p {
    font-size: 40px;
  }

  #right-panel {
    margin-bottom: 65px;
  }
}

@media (min-width: 1600px) and (min-height: 1000px) {
  .google-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  #map {
    margin-top: 125px;
    height: initial;
    width: 70%;
  }

  .location-error > p {
    font-size: 40px;
  }

  #right-panel {
    margin-top: 125px;
    height: 100%;
    margin-bottom: unset;
    padding-bottom: 150px;
    overflow: auto;
  }

  #right-panel h2 {
    font-size: 50px;
  }

  div.right-panel > ul {
    padding: 20px;
  }

  div.right-panel > ul {
    padding: 10px;
  }

  li {
    font-size: 24px;
    padding: 15px;
  }

  #more {
    box-shadow: 5px 5px 15px black;
    font-size: 30px;
  }
}