.google-page {
  height: 100%;
}

/* .map-conatiner { */
  /* TODO: no styling applied yet */
/* } */

img.map-Icon{
  width:40%;
}

#map {
  height: 50vh;
  width: 100%;
  margin-top: 50px;
}

#map > div {
  height: 75%;
  border: 2px black solid;
  width: 100%;
}

#map > div > div {
  height: 75%;
  border: 2px black solid;
  width: 100%;
}

.square {
  height: 100%;
  background-color: blue;
}

/* Optional: Makes the sample page fill the window. */
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  padding: 0px 10px;
  margin-bottom: 60px;
}

#right-panel h2 {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: unset;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

/* TODO: May need to separate out with classes */

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
}

li {
  background-color: #fcfcfc;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

li:nth-child(even) {
  background-color: #f1f1f1;
}

#more {
  width: 100%;
  margin: 0px 0 0 0;
  background-color: blanchedalmond;
}

#google-search {
  background-image: url(./icons/search_bar.PNG);
  background-repeat: no-repeat;
  background-position: 101%;
  background-size: contain;
  font-size: 1.5rem;
  position: relative;
  top: 12px;
  width: 61%;
  left: 7%;
}

.search-icon {
  width: 12%;
  margin-top: 12px;
}