.index-page {
  height: 100vh;
  overflow: hidden;

}

.head-container {
  height: 100vh;
  margin-top: 50px;
}

.display-footer{
  text-align: center;
}

.image-scanner-container{
  position: absolute;
  top: 50px;
}

.cancel-scan {
  position: absolute;
}

.scanner-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div.scanner-image > video {
  width: 100vw;
}
canvas.drawingBuffer {
  display: none;
}
#search-bar-button-image {
  cursor: pointer;
  filter: brightness(0) invert(1);
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.boardgame-background {
  background-color: #f2ecec;
  background-image: url(./icons/boardgamestill.jpg);
}

#camera-button {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  width: 100%;
  filter: drop-shadow(2px 2px 10px black);
  background: #c1494e;
  height: 50px;
  position: fixed;
    bottom: 60px;
}

.search-image-container {
  margin: auto;
  height: 30px;
}

.image-first-container {
  height: 30px;
  width: 38px;
  display: flex;
  margin: auto;
}

.search-bar {
  border-radius: 24px;
  background: #d5d2c0;
  text-align: center;
}