#modal-shadow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: .4;
}

#modal-body {
    position: fixed;
    left: 50%;
    top: 76%;
    min-height: 10vmin;
    min-width: 70vmin;
    transform: translate(-50%, -50%);
    background-color: #dcdbd6;
    display: flex;
    border: 1px solid black;
    justify-content: flex-end;
}
.modal-title{
  color:red;
}