.nav-bar-container {
  position: fixed;
  background: #ddddd9;
  bottom: 0;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  display: flex;
  height: 50px;
}

.icon-container {
  filter: drop-shadow(1px 1px 1px grey);
  margin: 5px 0;
  transition: all 0.2s;
  height: 20px;
}

.nav-icon {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  object-fit: contain;
  cursor: pointer;

}

.nav-icon:hover{
  transition:all 0.2s;
  filter: drop-shadow(1px 1px 1px black);
  transform:scale(1.1);
}

.btn-text {
  font-size: 12px;
  color: #c1494e;

}

@media (min-width: 760px) and (min-height: 1020px) {
  .nav-bar-container {
    height: 65px;
  }
  .btn-text {
    font-size: 16px;
  }

  .nav-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1020px) and (min-height: 760px) {
  .nav-bar-container {
    height: 65px;
  }

  .nav-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1600px) and (min-height: 761px) {
  .nav-bar-container {
    height: 60px;
    width: 400px;
    position: unset;
    box-shadow: unset;
    margin: auto;
  }

  .btn-text {
    margin: unset;
  }
}