.product-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.image-container {
  height: 300px;
  width: 300px;
  margin: auto;
  background: white;
  box-shadow: 4px 5px 3px grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

img#product-image-placeholder {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div.display-p-container > p:first-child {
  color: #c1494e;
  font-size: 25px;
  padding-bottom: 20px;
}

p.product-display {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 20px 10px;
  padding-left: 10px;
}