div .product-page {
  width: 0;
  height: 85vh;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

div .card-body {
  height: 40vh;
}

.info-container {
  height: 50vh;
  display: block;
  align-items: center;
}

.display-p-container {
  margin: 9px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
}

.product-display {
  font-size: 0.67rem;
  color: #c1494e;
  letter-spacing: 1px;
  line-height: 1;
  font-family: 0.75r;
  font-family: 'Montserrat', sans-serif;
}

.display-p-container p:first-child {
  color: #c1494e;
  position: relative;
  bottom: 58px;
  font-size: .95rem;
  font-family: 'Montserrat', sans-serif;
}

.card-title{
  text-align:center;
  font-family:'Overlock', cursive;
  font-weight:bold;
}

span:hover{
  background:yellow;
}

.image-container {
  height: 40vh;
  display: flex;
  align-items: center;
}

.display-page-button { 
  opacity: 0; /* TODO: Remove when button is ready to use*/
  border-radius: 1px;
  background: #c1494e;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  color: white;
  filter: drop-shadow(2px 2px 3px black);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
  margin: 4px auto;
  outline: none;
  width: 60vw;
  font-weight: unset;
  position: relative;
  top: 7vh;
}