.card {
  padding-top: 60px;
  padding-bottom: 60px;
}

.image-container {
  height: 300px;
  width: 300px;
  margin: auto;
  background: white;
  box-shadow: 4px 5px 3px grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

#product-image-placeholder {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div .card-body {
  width: 100%;
}

.info-container {
  width: 100%;
}

.display-p-container {
  width: 100%;
}

.product-display {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 20px 10px;
}

.display-p-container p:first-child {
  color: #c1494e;
  position: relative;
  bottom: 58px;
  font-size: .95rem;
  font-family: 'Montserrat', sans-serif;
}

.card-title{
  text-align:center;
  font-family:'Overlock', cursive;
  font-weight:bold;
}

span:hover{
  background:yellow;
}